[submodule "modules/client"]
	path = modules/client
	url = https://github.com/clejacquet/vocabulometer-client
[submodule "modules/server"]
	path = modules/server
	url = https://github.com/clejacquet/vocabulometer-server
[submodule "modules/nlp-en"]
	path = modules/nlp-en
	url = https://github.com/clejacquet/vocabulometer-nlp
[submodule "modules/fixation-provider"]
	path = modules/fixation-provider
	url = https://github.com/clejacquet/vocabulometer-gaze

[submodule "modules/nlp-jp"]
	path = modules/nlp-jp
	url = https://github.com/clejacquet/vocabulometer-nlp-en.git
